<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="BankManagementDB"
         connectionString="Data Source=DESKTOP-AC5FFOF\MSSQLSERVER1;Initial Catalog=BankManagementDB;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
